<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FractalExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FractalExplorer.Properties.Settings>
            <setting name="SaveForm_Width" serializeAs="String">
                <value>1920</value>
            </setting>
            <setting name="SaveForm_Height" serializeAs="String">
                <value>1080</value>
            </setting>
            <setting name="SaveForm_FormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveForm_SsaaIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SaveForm_JpgQuality" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="SaveForm_ApplyBicubic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveForm_BicubicFactorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveForm_ApplyLanczos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveForm_LanczosFactorIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </FractalExplorer.Properties.Settings>
    </userSettings>
</configuration>